/* Frequently Asked Questions Section
--------------------------------*/

#faq {
    padding: 60px 0;
    overflow: hidden;
  }
  #faq .section-header{
      text-align: justify;
  }
  #faq #faq-list {
    padding: 0;
    list-style: none;
  }
  
  #faq #faq-list li {
    border-bottom: 1px solid #ebebeb;
  }
  
  #faq #faq-list a {
    padding: 22px 0;
    display: block;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    padding-right: 20px;
  }
  
  #faq #faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 20px;
  }
  
  #faq #faq-list p {
    margin-bottom: 20px;
  }
  
  #faq #faq-list a.collapse {
    color: #1bb1dc;
  }
  
  #faq #faq-list a.collapsed {
    color: #000;
  }
  
  #faq #faq-list a.collapsed i::before {
    content: "\f2c7" !important;
  }
  
.text-center {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: rgb(247, 247, 247);
    color: #fff;
    text-align: center !important;
    display: block;
}
.pageSingular{
    padding-top: 100px;
    position: relative;
    left: 280px !important;
    width: 80%;
    background: rgb(247, 247, 247);
}