/* Frequently Asked Questions Section
--------------------------------*/

#faq {
    padding: 60px 0;
    overflow: hidden;
  }
  #faq .section-header{
      text-align: justify;
  }
  #faq #faq-list {
    padding: 0;
    list-style: none;
  }
  
  #faq #faq-list li {
    border-bottom: 1px solid #ebebeb;

  }
  i.icono{
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  #faq #faq-list a {
    padding: 12px 5px;
    background-color: rgb(238, 237, 236);
    border-radius: 5px;
    margin-bottom: 10px;

    display: block;
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    padding-right: 20px;
  }
  
  #faq #faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 4px;
  }
  #faq #faq-list h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  #faq #faq-list p {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  #faq #faq-list a.collapse {
    color: #1bb1dc;
  }
  
  #faq #faq-list a.collapsed {
    color: #000;
  }
  
  #faq #faq-list a.collapsed i::before {
    content: "\f2c7" !important;
  }
  
.text-center {
  position: -webkit-sticky;
  position: sticky;

    padding-top: 50px;
    margin-bottom: 20px;
    margin-left: 30px;
    left: 0;
    top: 50px;
    width: 280px;
    height: 100vh;
    background: rgb(247, 247, 247);
    color: black;
    text-align: center !important;
    display: block;
}
.pageSingular{
    display: flex;
    padding-top: 50px;
    position: relative;
    width: 100%;
    background: rgb(247, 247, 247);
}
#faq .faq {
    padding: 30px;
    border-radius: 6px;
    background-color: white;
    width: 90%;
    margin: auto;
    -webkit-box-shadow: -22px 14px 30px -8px rgba(0,0,0,0.26);
    -moz-box-shadow: -22px 14px 30px -8px rgba(0,0,0,0.26);
    box-shadow: -22px 14px 30px -8px rgba(0,0,0,0.26);
}
.menuInner{

  height: 100%;
  width: 280px;
  overflow-y: scroll;
  overflow-x: hidden;

}
.linkInner{
  background-color: white !important;
  font-size: inherit  !important;
  display: inline  !important;
  padding: 0 !important;
}
.subItem{
  font-size: 14px;
  width: 80%;
  margin: 10px 0 10px auto;
  padding: 5px;
  border-radius: 8px;
}
.headItem{
  margin-top: 20px;
}
a.anchor {
  width: 0;
  height: 0;
  visibility: hidden;
}
